@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 234 67% 94%;
    --foreground: 224 71% 10%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 10%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 232 50% 90%;
    --secondary-foreground: 231 48% 48%;
    --muted: 232 50% 90%;
    --muted-foreground: 224 71% 35%;
    --accent: 16 100% 63%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 50% 85%;
    --input: 0 0% 100%;
    --ring: 16 100% 63%;
    --radius: 0.5rem;
    --chart-1: 231 48% 48%;
    --chart-2: 16 100% 63%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
